@import "index"

.App
  width: 100%
  display: flex
  flex-wrap: wrap

.App-aside
  background-color: $brown
  width: 50%
  height: 100vh

  .App-logo
    width: 60px
    height: 60px

.App-form
  background-color: $dark-purple
  width: 50%
  height: 100vh


